[beacon]
serial: /dev/serial/by-id/usb-Beacon_Beacon_RevD_55BAA4A34E5737374D202020FF0E3C1C-if00
#   Path to the serial port for the beacon device. Typically has the form
   
speed: 5.
#   Z probing dive speed.
lift_speed: 5.
#   Z probing lift speed.
backlash_comp: 0.5
#   Backlash compensation distance for removing Z backlash before measuring
#   the sensor response.
x_offset: 0.
#   X offset of beacon from the nozzle.
y_offset: 21.1
#   Y offset of beacon from the nozzle.
trigger_distance: 2.
#   Beacon trigger distance for homing.
trigger_dive_threshold: 1.
#   Threshold for range vs dive mode probing. Beyond `trigger_distance +
#   trigger_dive_threshold` a dive will be used.
trigger_hysteresis: 0.006
#   Hysteresis on trigger threshold for untriggering, as a percentage of the
#   trigger threshold.
z_settling_time: 5
#   Delay (in ms) for the Z axis to settle before taking proximity measurements.
cal_nozzle_z: 0.1
#   Expected nozzle offset after completing manual Z offset calibration.
cal_floor: 0.2
#   Minimum z bound on sensor response measurement.
cal_ceil: 5.
#   Maximum z bound on sensor response measurement.
cal_speed: 1.
#   Speed while measuring response curve.
cal_move_speed: 10.
#   Speed while moving to position for response curve measurement.
default_model_name: Textured
#   Name of default beacon model to load.
mesh_main_direction: x
#   Primary travel direction during mesh measurement.
#mesh_overscan: -1
#   Distance to use for direction changes at mesh line ends. Omit this setting
#   and a default will be calculated from line spacing and available travel.
mesh_cluster_size: 1
#   Radius of mesh grid point clusters.
mesh_runs: 1
#   Number of passes to make during mesh scan.
zero_reference_cluster_size: 1.
#   Radius of cluster used for zero reference position, this is the equivalent
#   of mesh_cluster_size for the zero reference position.
#accel_scale: 16g
#   Adjust the sensitivity of the accelerometer during shaper measurement,
#   valid settings on RevH are 16g, 8g, 4g and 2g.
#accel_axes_map: x, y, z
#   Reassign or invert axes of the accelerometer to align with machine coordinates.

contact_max_hotend_temperature: 180 # increase to enable hot contacting
# Temperature limit for the hotend when contacting, override this for temps which may damage some surfaces.

# new additions for beacon safe_z_home functionality
home_xy_position: 175, 175
# X, Y coordinate for homing z via contact.
home_z_hop: 5
# Distance to retract before x/y homing moves.
home_z_hop_speed: 30
# Retraction speed for z hop.
home_xy_move_speed: 300
# Speed for moving to home_xy_position.

# new additions for setting default homing mode
home_method: proximity
# Sets default homing method used by G28. `proximity` requires a valid beacon model to be loaded.
home_method_when_homed: proximity # defaults to `home_method` value
# Sets the homing method when the machine is already in a homed state.
home_autocalibrate: unhomed
# Sets the autocalibration behavior. `always` will autocal on every home, `unhomed` on initial homing,
# `never` will never so that models stored in config may be used with proximity homing.

# new autocalibration config options
autocal_speed: 3
# Speed during contact movement. Probing outside of 2-5mm/s not recommended and at your own risk.
autocal_accel: 100
# Acceleration of autocal movement.
autocal_retract_dist: 2
# Retract distance between autocal samples.
autocal_retract_speed: 10
# Speed of autocal retraction move.
autocal_sample_count: 3
# Number of samples used for each autocal.
autocal_tolerance: 0.008
# Acceptance tolerance for an autocal result.
autocal_max_retries: 3
# Number of retry attempts permitted when tolerance is exceeded.